services:
  db:
    image: postgres:17-alpine
    container_name: sgs-cs-helper-db
    restart: unless-stopped
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sgs_cs_helper
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
